@import "swiper/css";
@import "swiper/css/pagination";

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
  pointer-events: none !important;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.4s ease-out forwards;
}
